body {background-color:black;font-family:arial;color:white}
h1{
	color:grey;
	font-family:verdana
	border:0; 
	margin : 20;
	cellspacing:0;
	padding:10px;
	height: 0;
}
.maindiv {
    background-color:white;
    color:black;
    padding:20px;
    width:300px;
    border-radius:25px;

}
table{
	border:0; 
	margin : 0;
	cellspacing:0;
	padding:0px;
	height: 0;
	
}


